##
## For Docker Compose
## @see README.md
##

##
## Backend
##
TZ=UTC
PORT=8080
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=
NODE_ENV=production
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_DATABASE=app
DB_MIGRATE=false

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

BREVO_API_KEY=
MAIL_FROM_ADDRESS=

NEWSLETTER_SUBSCRIPTION_CONFIRMATION_EMAIL=false

IDEALISTA_API_KEY=
IDEALISTA_SECRET=

##
## Frontend
##
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
