@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@fortawesome/fontawesome-free/css/v4-shims.min.css";
@import "leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    /* background: var(--background);
    color: var(--foreground); */
    font-family: Arial, Helvetica, sans-serif;
}

.leaflet-container {
    z-index: 0;
    height: 600px;
    width: 100%;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #e5e7eb;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked {
    background-color: #3b82f6;
    border-color: #3b82f6;
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

input[type="checkbox"].house:checked {
    background-color: #ef4444;
    border-color: #ef4444;
}

input[type="checkbox"].job:checked {
    background-color: #3b82f6;
    border-color: #3b82f6;
}

.leaflet-marker-icon.extra-marker i {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-55%, 50%);
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}

/* Custom styles for cluster icons */
.cluster-small {
    background-color: #4c763b;
}

.cluster-medium {
    background-color: #97b067;
}

.cluster-large {
    background-color: #5e7749;
}
